name: Generer Javadoc

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout kode
      uses: actions/checkout@v2

    - name: Opsæt JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'adopt'
    
    - name: Opsæt Maven
      uses: actions/setup-java@v2
      with:
        java-version: '16'
    
    - name: Build with Maven
      run: mvn clean install -DskipTests

    - name: Generer Javadoc
      run: |
        mkdir -p docs/javadoc
        mvn javadoc:javadoc
        mvn javadoc:aggregate
        cp -r target/site/apidocs/* docs/javadoc/

    - name: Upload Javadoc til GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/javadoc
